@import "../../vars";

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .bold {
    font-weight: $semi-bold;
  }
}

.map {
  width: 50%;
  margin: 16px auto;
  border-radius: 16px;
  border: 1px solid $color-neutral;
}

.area {
  background-color: #7e5fbf;
}