@import "../../vars";
.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bold {
  font-weight: $semi-bold;
}

.menu {
  max-height: 320px;
}
.row {
  display: flex;
  align-items: center;
  flex-direction: row;
}
