@import "../../vars";

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.semiBold {
  font-weight: $semi-bold;
}

.reportInfo {
  margin: 12px 2px 12px 0;
  font-weight: $semi-bold;
}

.column {
  display: flex;
  flex-direction: column;
}

.good {
  color: $color-good;
}

.medium {
  color: $color-medium;
}

.critical {
  color: $color-critical;
}

.map {
  border-radius: 8px;
  margin-bottom: 24px;
  width: 80%;
  image-rendering: crisp-edges;
}

.comments {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.67);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-top: 8px;

  .comment {
    margin: 16px;
    flex: 1;
    flex-basis: 80px;
    font-size: 1.25rem;
  }
}