@import "../../vars";

.semiBold {
  font-weight: $semi-bold;
}

.stat {
  height: 160px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .keyStat {
    flex: 1;
    min-height: 112px;
    min-width: 112px;
    max-height: 112px;
    max-width: 112px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .subtitle {
    color: rgba(0, 0, 0, 0.67);
    margin-top: 4px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    text-align: center;
    font-weight: $medium;
  }
}

.grid {
  margin-bottom: 64px;
}