@import '../../vars.scss';

.pageContainer {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $color-bg;
  overflow-y: scroll;

  .pageContent {
    width: 90%;
    @media (max-width: 600px) {
      width: 100%;
    }
    margin: 32px auto 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
}
