@import "../../vars";

.title{
  font-weight: $semi-bold;
  flex: 1 1 100%;
}

.critical {
  background-color: $color-critical;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
