@import "../../vars";

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;

  .name {
    font-family: $font;
    font-weight: $bold;
    width: 82px;
  }

  button {
    width: 40px;
    padding: 0;
  }

  .svg {
    font-size: 1.8rem;
    color: #ffffff;
    stroke: white;
    stroke-width: 0.2px;
  }
}

.tab {
  font-weight: $semi-bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin-right: 8px;
  }
}