@import '../../../vars';

.chart {
  margin-left: -16px;
}

.title {
  font-weight: $bold;
  margin: 12px 20px;
  padding-top: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}