@import '../../vars';

.form {
  width: 30%;
  margin: auto;
  padding: 16px;
}

.btn {
  width: 50%;
  margin-top: 16px;
}

.content {
  margin: auto;
  padding-bottom: 20%;
}

.img {
  margin-bottom: 32px;
}