@import "../../vars";

.dot {
  border-radius: 50%;
  display: inline-block;

  &.good {
    background-color: $color-good;
  }

  &.medium {
    background-color: $color-medium;
  }

  &.critical {
    background-color: $color-critical;
  }

  &.neutral {
    background-color: $color-neutral;
  }

  &.tiny {
    height: 16px;
    width: 16px;
  }

  &.small {
    height: 24px;
    width: 24px;
  }

  &.large {
    height: 32px;
    width: 32px;
  }
}