//Colors
$color-bg: #F0F1F3;
$primary: blue;
$accent: green;

$color-critical: #EB5757;
$color-medium: #F2C94C;
$color-good: #27AE60;
$color-neutral: #CFD3DA;
$color-commenter: #7E5FBF;

$font: 'Raleway', sans-serif;

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$thick: 900;

//Sizes
$font-tiny: 0.75rem;
$font-small: 0.875rem;
$font-medium: 1rem;
$body-text-size: 1.125rem;
$font-subheader: 1.5rem;
$font-large: 2rem;