@import "../../vars";

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  margin-top: 32px;
  text-align: start;
  flex-direction: column;

  .card {
    width: 40%;
    border-radius: 20px;
  }

  .cardContent {
    margin: 32px;
  }

  .detailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .divider {
    margin: 32px 0;
  }

  .semiBold {
    font-weight: $semi-bold;
  }

  .medium {
    font-weight: $medium;
  }
}

.critical {
  color: $color-critical;
}

.btn {
  border-radius: 12px;
  flex: 1;
}

.comments {
  max-height: 50%;
  margin-top: 32px;
  border-radius: 8px;
  overflow-y: auto;

  .comment {
    .author {
      color: $color-commenter;
      line-height: 200%;
    }
  }
}